
/* Landscape phones and down */

@media (max-width: 480px) {


}

@media (min-width: 481px) {


/* Large desktop */
/*
@media (min-width: 1200px) {

.title {
    font-size: 6em;
}

.subtitle-top,
.subtitle-bottom {
      font-size: 2em;
      margin-left: 16%;
      margin-right: 16%;
  }

  nav.main-nav a {
    font-size: 1.8em;
    padding: 0px 90px;
  }
}*/
