
/* Landscape phones and down */

@media (max-width: 480px) {

    .subtitleTop {
      display: none;
      font-family: 'Fauna One', serif;
      font-size: 28px;
      color:  #372040;
      font-style: normal;
      font-weight: 100;
    }
}

@media (min-width: 481px) {

  .subtitleBottom {
    display: none;
    font-family: 'Fauna One', serif;
    font-size: 28px;
    color:  #372040;
    font-style: normal;
    font-weight: 100;
  }
}

/* Large desktop */
/*
@media (min-width: 1200px) {

.title {
    font-size: 6em;
}

.subtitle-top,
.subtitle-bottom {
      font-size: 2em;
      margin-left: 16%;
      margin-right: 16%;
  }

  nav.main-nav a {
    font-size: 1.8em;
    padding: 0px 90px;
  }
}*/
